<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wenwen's URL Shortener</title>
    <!--  OG tags  -->
    <meta name="description" content="An URL shortener with Express" />
    <meta name="keywords" content="Express,Node.js,MySQL,Sequelize" />
    <meta name="author" content="Wenwen Cheng" />
    <meta property="og:title" content="Wenwen's URL Shortener" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="An URL shortener with Express" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">Wenwen's URL Shortener</nav>
    <div class="container">
      <input type="text" class="input" placeholder="Paste a link here" />
      <div class="btn__create">Create short URL</div>
      <div class="output">
        <div>
          <div>Original link:</div>
          <div class="url__long">https://www.google.com.tw/maps/place/Yongkang+Park/@25.0322944,121.5176704,15z/data=!4m5!3m4!1s0x3442a982625e894b:0x3cf764223d5dddcc!8m2!3d25.03213!4d121.5297049?hl=en</div>
          <div>Short URL:</div>
          <div class="url__short">http://wenwen.tw/123456</div>
          <div class="btn__copy"><span class="tip">Copied</span>copy</div>
        </div>
      </div>
      <footer class="footer">This shortener is created by <a class="footer__link" href="https://github.com/cwenwen">me</a> - <a class="footer__link" href="https://github.com/cwenwen/UrlShortener">View on Github</a></footer>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>